{% extends "base.html.twig" %}

{% block title %} Error 403 {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="row">
                <img class="error-img" data-aos="fade-up" data-aos-delay="200" src="{{ asset('assets/img/403.png') }}" alt="">
                <h1 class="error-title" data-aos="fade-up" data-aos-delay="400" data-aos-offset="0">&nbsp;</h1>
            </div>
        </div>
    </div>
{% endblock %}